<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Cadastro</title>
</head>

<body>
    <button><a href="/">HOME</a></button> <button><a href="/form-idade">VOLTAR</a></button>
    <h1>FAIXA ETÁRIA!</h1>
    <p>Nome: <%= nome %>
    </p>
    <p>Idade: <%= idade %>
    </p>
    <p>Faixa Etária: <%= faixaEtaria %>
    </p>     

</body>

</html>