<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=, initial-scale=1.0">
  <title>ATIVIDADE 1</title>
<link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <button><a href="/">HOME</a></button>
  <h1>FAIXA ETARIA</h1>
  <form action="/" method="post">
    <label for="nome">Nome</label>
    <input type="text" id="nome" name="nome" required><br><br>

    <label for="idade">Idade</label>
    <input type="number" id="idade" name="idade" required><br><br>

    <input type="submit" value="Cadastrar">

  </form>
  
</body>

</html>