<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>LISTA DE EXERCÍCIOS 1 - Desenvolvimento Web II</title>
</head>

<body>
  <h1>LISTA DE EXERCÍCIOS 1 - Desenvolvimento Web II</h1>
  <a href="/form-idade">ATIVIDADE 01 - FAIXA ETÁRIA</a><br><br>
  <a href="/notas">ATIVIDADE 02 - MÉDIA PONDERADA</a><br><br>
  <a href="/formulario-crud">ATIVIDADE 03 - CADASTRO DE USUÁRIO</a>
</body>

</html>